export(
  "gs",
  "iamb",
  "inter.iamb",
  "fast.iamb",
  "mmpc",
  "hc",
  "compare",
  "mb",
  "nbr",
  "arcs",
  "arcs<-",
  "directed.arcs",
  "undirected.arcs",
  "parents",
  "parents<-",
  "children",
  "children<-",
  "nodes",
  "root.nodes",
  "leaf.nodes",
  "amat",
  "amat<-",
  "nparams",
  "modelstring",
  "model2network",
  "set.arc",
  "drop.arc",
  "reverse.arc",
  "choose.direction",
  "arc.strength",
  "rbn",
  "score",
  "ci.test",
  "as.bn",
  "acyclic",
  "directed",
  "path",
  "node.ordering",
  "ordering2blacklist",
  "empty.graph",
  "random.graph",
  "graphviz.plot",
  "strength.plot"
)

S3method(print, bn)
S3method(plot, bn)
S3method(AIC, bn)
S3method(logLik, bn)
S3method(as.bn, character)
S3method(as.character, bn)
S3method(ci.test, character)
S3method(ci.test, data.frame)
S3method(ci.test, numeric)
S3method(ci.test, factor)
S3method(ci.test, default)
