export(
  "gs",
  "iamb",
  "inter.iamb",
  "fast.iamb",
  "hc",
  "compare",
  "mb",
  "nbr",
  "arcs",
  "arcs<-",
  "parents",
  "parents<-",
  "children",
  "children<-",
  "nodes",
  "rootnodes",
  "leafnodes",
  "amat",
  "amat<-",
  "nparams",
  "modelstring",
  "model2network",
  "set.arc",
  "drop.arc",
  "reverse.arc",
  "choose.direction",
  "rbn",
  "score",
  "as.bn",
  "acyclic",
  "path",
  "node.ordering",
  "ordering2blacklist",
  "empty.graph",
  "random.graph"
)

S3method(print, bn)
S3method(plot, bn)
S3method(AIC, bn)
S3method(logLik, bn)
S3method(as.bn, character)
S3method(as.character, bn)
